<div class="relative ng-scope" ng-controller="AppCtrl">
  <md-content flex layout-padding>
    <section layout="row" layout-xs="column" layout-align="start center" layout-wrap>
      <md-subheader>About Dotr</md-subheader>
      <p>Dotr is a wishlist, note-taker, and memory store all in one. Those who wish to dote or those who wish to be doted on, can keep track of activities, consumables, goods, and gestures they would love to give or receive.</p>
      <p>You can find Dotr source code online at <a href="https://github.com/CorWatts/dotr">https://github.com/CorWatts/dotr</a>. Any and all contributions are welcome!
      <p>Thanks for using Dotr. Please contact <span class="bold">corwatts [@] gmail [dot] com</span> if you have any questions.</p>
    </section>
  </md-content>
</div>
