<div class="relative ng-scope" ng-controller="CategoryCtrl">
  <section layout="row" layout-xs="column" layout-align="start center" layout-wrap>
    <h2 class="md-title inset">Categories</h2>

    <md-button id="add-button" class="md-fab md-fab-bottom-right" aria-label="Add" href="/#/add">
      <ng-md-icon icon="add"></ng-md-icon>
    </md-button>

  </section>
  <div class='md-padding' layout="row" layout-align="center start" layout-wrap>
    <md-card ng-repeat="category in categories">
      <a href="#/{{category.value}}">
        <img ng-src="{{category.image_url}}" class="md-card-image" alt="image caption">
        <md-card-content ng-click="SubcategoryCtrl.loadSubcategories(category.name)">
          <h2>{{category.value}}</h2>
        </md-card-content>
      </a>
      <md-divider></md-divider>
      <md-dialog-action layout="row" layout-align="center">
        <md-button class="md-primary" ng-click="showEdit($event, categories, category.id, category.value)">Edit</md-button>
        <md-button class="md-warn" ng-click="showDelete($event, categories, category.id)">Delete</md-button>
      </md-dialog-action>
    </md-card>
  </div>
</div>
