<div ng-controller="ItemCtrl">
  <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    <h2 class="md-title inset">Items in {{subcategoryName}} </h2>
    <md-button id='add-button' class="md-fab" aria-label="Add" ng-click="showAdd($event, items, categoryId)">
      <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
    <md-button class="md-raised md-primary" ng-href="#/{{categoryName}}">
        <ng-md-icon icon="keyboard_arrow_up" style="fill: white; display: inline-block; margin-bottom: -6px;"></ng-md-icon> One Level
    </md-button>
  </section>
  <div class='md-padding' layout="row" layout-wrap>
    <md-card ng-repeat="item in items">
        <img ng-src="{{item.image_url}}" class="md-card-image" alt="image caption" ng-click="showEdit($event, items, item.id, item.value)">
        <md-card-content>
          <h2>{{item.value}}</h2>
        </md-card-content>
      <md-divider></md-divider>
      <div class="md-actions" layout="row" layout-align="center">
        <md-button class="md-primary" ng-click="showEdit($event, items, item.id, item.value)">Edit</md-button>
        <md-button class="md-warn" ng-click="showDelete($event, items, item.id)">Delete</md-button>
      </div>
    </md-card>
  </div>
</div>
