<h2 class="md-title inset">Subcategories</h2>
<md-card>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="item in activity | filter:search | orderBy:'-what'">
      <md-icon class="md-avatar" hide-sm md-svg-icon="avatars:{{item.avatar}}"></md-icon>
      <div class="md-list-item-text">
        <h3>{{item.what}}</h3>
        <h4>{{item.who}}</h4>
        <p>{{item.notes}}</p>
      </div>
      <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
      <md-divider hide-gt-sm ng-if="!$last"></md-divider>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <md-button class="md-primary">
        <ng-md-icon icon="arrow_forward" style="fill: white"></ng-md-icon>
        <span>More</span>
      </md-button>
    </md-list-item>
  </md-list>
</md-card>

