<div ng-controller="SubcategoryCtrl">
  <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
    <h2 class="md-title inset">Subcategories in {{categoryName}} </h2>
    <md-button id='add-button' class="md-fab" aria-label="Add" ng-click="showAdd($event, subcategories, categoryId)">
      <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
    <md-button class="md-raised md-primary" ng-href="#/">
        <ng-md-icon icon="keyboard_arrow_up" style="fill: white; display: inline-block; margin-bottom: -6px;"></ng-md-icon> One Level
    </md-button>
  </section>
  <div class='md-padding' layout="row" layout-wrap>
    <md-card ng-repeat="subcategory in subcategories">
      <a href="#/{{categoryName}}/{{subcategory.value}}">
        <img ng-src="{{subcategory.image_url}}" class="md-card-image" alt="image caption">
        <md-card-content>
          <h2>{{subcategory.value}}</h2>
        </md-card-content>
      </a>
      <md-divider></md-divider>
      <md-dialog-action layout="row" layout-align="center">
        <md-button class="md-primary" ng-click="showEdit($event, subcategories, subcategory.id, subcategory.value)">Edit</md-button>
        <md-button class="md-warn" ng-click="showDelete($event, subcategories, subcategory.id)">Delete</md-button>
      </md-dialog-action>
    </md-card>
  </div>
</div>
