html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

span h2 {
  display: inline;
}

.md-toolbar-tools > h3 {
  color: white;
}

md-toolbar h1 {
  margin: auto;
}

/* Primary content area */

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

md-card img.md-card-image {
  height: 240px;
  width: 240px;
  cursor: pointer;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

md-card a {
  text-decoration: none;
  color: inherit;
}

md-card-content h2 {
  word-wrap: break-word;
  max-width: 208px;
}

ng-md-icon > svg {
	display: block;
	margin: 0px auto 0px auto;
}

button > md-icon {
  margin: 0px auto 0px auto;
}

.md-fab ng-md-icon svg {
  margin-top: 16px;
}

md-list > md-list-item > ng-md-icon {
  padding: 10px;
}


/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.bold {
    font-weight: bold;
}
