<html lang="en" ng-app="dotrApp">
	<head>
		<title>Dotr</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
		<link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

		<script src="./bower_components/angular/angular.js"></script>
		<script src="./bower_components/angular-animate/angular-animate.js"></script>
		<script src="./bower_components/angular-aria/angular-aria.js"></script>
		<script src="./bower_components/angular-material/angular-material.js"></script>
		<script src="./bower_components/angular-route/angular-route.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

		<script src="js/app.js"></script>
  	<script src="js/controllers.js"></script>
  	<!--<script src="js/animations.js"></script>
  	<script src="js/filters.js"></script>
    <script src="js/services.js"></script>-->

		<style type="text/css">
			/**
			 * Hide when Angular is not yet loaded and initialized
			 */
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
				display: none !important;
			}
		</style>
	</head>
<body layout="row">
  <div class="relative" layout-fill role="main" ng-controller="AppCtrl">
    <md-button id='add-button' class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
      <ng-md-icon icon="add" style="fill: white"></ng-md-icon>
    </md-button>
    <md-toolbar class="animate-show md-tall md-whiteframe-z1" ng-show="!showSearch">
      <div class="md-toolbar-tools">
        <h3>Dotr -- dote on those you love</h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch()">
          <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
          <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
        </md-button>
      </div>
      <span flex></span>
    </md-toolbar>

		<md-toolbar ng-show="showSearch" class="animate-show md-whiteframe-z1">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="Menu">
					<ng-md-icon icon="arrow_back" style="fill: white"></ng-md-icon>
				</md-button>
				<h3 role="button" ng-click="toggleSearch()">
					Back
				</h3>
				<span flex="5"></span>
				<span ng-controller="DemoCtrl as ctrl" flex>
					<md-autocomplete md-theme="input"
											md-input-name="autocompleteField"
					 md-no-cache="ctrl.noCache"
			md-selected-item="ctrl.selectedItem"
	 md-search-text="ctrl.searchText"
	md-items="item in ctrl.querySearch(ctrl.searchText)"
 md-item-text="item.display"
 placeholder="Search">
						<md-item-template>
							<span md-highlight-text="ctrl.searchText">{{item.display}}</span>
						</md-item-template>
						<div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
							<div ng-message="required">You <b>must</b> have a favorite state.</div>
							<div ng-message="minlength">Your entry is not long enough.</div>
							<div ng-message="maxlength">Your entry is too long.</div>
						</div>
					</md-autocomplete>
				</span>
			</div>
			</md-toolbar>

		<div ng-view></div>

  </div>
</body>
</html>
