[
  {
    "id": null,
    "parent": null,
    "type": "category",
    "value": "flowers",
    "image_url": "http://2.bp.blogspot.com/-t3G5WeJFNvU/TpMbp1V9lkI/AAAAAAAAAF4/NwSHhlbAcas/s320/Home-roses-Flowers.jpg"
  },
  {
    "id": 1,
    "parent": null,
    "type": "category",
    "value": "croissant",
    "image_url": "http://4.bp.blogspot.com/-Eq61HkZNDSg/UaQ9sdHdE_I/AAAAAAAANCc/ayr5LlyHgjU/s320/croissant_16x9.jpg"
  },
  {
    "id": 3,
    "parent": null,
    "type": "category",
    "value": "edibles",
    "image_url": "http://ep.yimg.com/ay/entirelypets/nylabone-healthy-edibles-resealable-pouch-bacon-flavored-6-regular-11-21-oz-35.jpg"
  },
  {
    "id": 5,
    "parent": null,
    "type": "category",
    "value": "clothing",
    "image_url": "http://2.bp.blogspot.com/-CYGzasO3kNM/TYFuJamxMqI/AAAAAAAABDY/zAhZRs_AfR0/s1600/clothing%252B1.jpg"
  },
  {
    "id": 6,
    "parent": 5,
    "type": "subcategory",
    "value": "dresses",
    "image_url": "http://2.bp.blogspot.com/-CYGzasO3kNM/TYFuJamxMqI/AAAAAAAABDY/zAhZRs_AfR0/s1600/clothing%252B1.jpg"
  },
  {
    "id": 7,
    "parent": 5,
    "type": "subcategory",
    "value": "hats",
    "image_url": "http://2.bp.blogspot.com/-CYGzasO3kNM/TYFuJamxMqI/AAAAAAAABDY/zAhZRs_AfR0/s1600/clothing%252B1.jpg"
  },
  {
    "id": 8,
    "parent": 3,
    "type": "subcategory",
    "value": "croissants",
    "image_url": "http://2.bp.blogspot.com/-CYGzasO3kNM/TYFuJamxMqI/AAAAAAAABDY/zAhZRs_AfR0/s1600/clothing%252B1.jpg"
  }
]
